html, body {
    margin: 0;
    padding: 0;
}
.one {
    background-color: brown;
    width: 300px;
    border: 5px solid gray; 
}
.two {
    outline: 10px solid yellow;
    padding: 25px;
    border: 5px solid gray;    
    box-sizing: border-box;
    width:300px ;
    outline-offset: 10px;
}



@media (max-width:600px) {
    body {
        width: 50%;
    }
}
